body {
    background-color: blueviolet /*Cor do Fundo da Pagina*/
    
  }
  
  h1 {
    color: black;  /*TITULO 1, cor preta*/
    margin-left: 20px; /*TITULO 1, 20px da margem esquerda*/

    background-color: orangered /*Cor do Fundo da Pagina*/
  }